@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width:320px){
    .buttongroup{
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 10px;
    }
}